In [1]:
import pandas as pd
import numpy as np

In [2]:
weather = pd.read_csv("../data/weather/weather.csv")

# Subsetting to only include 2016 data as this is what will be used to train models
weather = weather[weather['timestamp'] < '2017-01-01 00:00:00']
weather['timestamp'] = pd.to_datetime(weather['timestamp'])
weather

,timestamp,site_id,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
0,2016-01-01 00:00:00,Panther,19.4,NaN,19.4,0.0,NaN,NaN,0.0,0.0
1,2016-01-01 01:00:00,Panther,21.1,6.0,21.1,-1.0,NaN,1019.4,0.0,0.0
2,2016-01-01 02:00:00,Panther,21.1,NaN,21.1,0.0,NaN,1018.8,210.0,1.5
3,2016-01-01 03:00:00,Panther,20.6,NaN,20.0,0.0,NaN,1018.1,0.0,0.0
4,2016-01-01 04:00:00,Panther,21.1,NaN,20.6,0.0,NaN,1019.0,290.0,1.5
...,...,...,...,...,...,...,...,...,...,...
322408,2016-12-31 19:00:00,Mouse,8.1,NaN,6.5,NaN,NaN,1027.5,220.0,3.6
322409,2016-12-31 20:00:00,Mouse,7.2,NaN,6.1,NaN,NaN,1026.9,220.0,4.1
322410,2016-12-31 21:00:00,Mouse,6.9,NaN,5.8,NaN,NaN,1026.2,220.0,4.6
322411,2016-12-31 22:00:00,Mouse,6.9,NaN,6.2,NaN,NaN,1025.4,190.0,3.1
322412,2016-12-31 23:00:00,Mouse,7.5,NaN,6.5,NaN,NaN,1024.7,210.0,5.7

In [3]:
def determine_column_counts(weather):
    columns = weather.columns
    data_counts = pd.DataFrame(columns = ['column_name','column_type','num_rows','distinct_data', 'distinct_percent', 'missing_data', 'missing_percentage'])
    
    #For each column, calculate number and percentage of missing rows and distinct counts
    for col in columns:
        col_vals = weather[col]
        total_data = len(col_vals)
        col_missing = sum(col_vals.isnull())
        missing_percent = round((col_missing / len(weather[col])) * 100 , 3)
        col_distinct = (col_vals.nunique())
        distinct_percent = round((col_distinct / len(weather[col])) * 100 , 3)

        data_counts.loc[len(data_counts)] = [col, col_vals.dtype, total_data, col_distinct, distinct_percent, col_missing, missing_percent]
        
    return(data_counts)

missing_data = determine_column_counts(weather)
missing_data

,column_name,column_type,num_rows,distinct_data,distinct_percent,missing_data,missing_percentage
0,timestamp,datetime64[ns],166083,8784,5.289,0,0.000
1,site_id,object,166083,19,0.011,0,0.000
2,airTemperature,float64,166083,619,0.373,85,0.051
3,cloudCoverage,float64,166083,10,0.006,85624,51.555
4,dewTemperature,float64,166083,522,0.314,143,0.086
5,precipDepth1HR,float64,166083,128,0.077,67820,40.835
6,precipDepth6HR,float64,166083,132,0.079,157084,94.582
7,seaLvlPressure,float64,166083,709,0.427,10718,6.453
8,windDirection,float64,166083,43,0.026,6592,3.969
9,windSpeed,float64,166083,58,0.035,328,0.197

In [4]:
# Impute Based on Season 

def get_season(month):
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return 'Winter'

# Add Season Column 
weather['season'] = weather['timestamp'].dt.month.apply(get_season)

In [5]:

weather['timestamp'] = pd.to_datetime(weather['timestamp'])

# Define the function for determining seasons
def get_season(month):
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
    else:
        return 'Winter'

# Apply the season function to create a 'season' column
weather['season'] = weather['timestamp'].dt.month.apply(get_season)

# List of columns to impute
weather_columns = [
    'airTemperature', 'cloudCoverage', 'dewTemperature',
    'precipDepth1HR', 'precipDepth6HR', 'seaLvlPressure',
    'windDirection', 'windSpeed'
]

# Impute missing values based on the season
for column in weather_columns:
    weather[column] = weather.groupby('season')[column].transform(lambda x: x.fillna(x.mean()))

weather.head()

,timestamp,site_id,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed,season
0,2016-01-01 00:00:00,Panther,19.4,2.026526,19.4,0.0,11.329319,1017.671008,0.0,0.0,Winter
1,2016-01-01 01:00:00,Panther,21.1,6.000000,21.1,-1.0,11.329319,1019.400000,0.0,0.0,Winter
2,2016-01-01 02:00:00,Panther,21.1,2.026526,21.1,0.0,11.329319,1018.800000,210.0,1.5,Winter
3,2016-01-01 03:00:00,Panther,20.6,2.026526,20.0,0.0,11.329319,1018.100000,0.0,0.0,Winter
4,2016-01-01 04:00:00,Panther,21.1,2.026526,20.6,0.0,11.329319,1019.000000,290.0,1.5,Winter

In [6]:

determine_column_counts(weather)

,column_name,column_type,num_rows,distinct_data,distinct_percent,missing_data,missing_percentage
0,timestamp,datetime64[ns],166083,8784,5.289,0,0.0
1,site_id,object,166083,19,0.011,0,0.0
2,airTemperature,float64,166083,623,0.375,0,0.0
3,cloudCoverage,float64,166083,14,0.008,0,0.0
4,dewTemperature,float64,166083,526,0.317,0,0.0
5,precipDepth1HR,float64,166083,132,0.079,0,0.0
6,precipDepth6HR,float64,166083,136,0.082,0,0.0
7,seaLvlPressure,float64,166083,713,0.429,0,0.0
8,windDirection,float64,166083,47,0.028,0,0.0
9,windSpeed,float64,166083,62,0.037,0,0.0
10,season,object,166083,4,0.002,0,0.0

In [7]:
# Aggregating weather daily 
weather['timestamp'] = pd.to_datetime(weather['timestamp'])
weather['date'] = weather['timestamp'].dt.date

numeric_cols = weather.select_dtypes(include=['number']).columns
non_numeric_cols = weather.select_dtypes(exclude=['number', 'datetime64']).columns

# Aggregate the numeric columns by day
numeric_daily_avg = weather.groupby('date')[numeric_cols].mean()

# Merge the aggregated numeric DataFrame with the non-numeric columns
daily_avg = pd.merge(numeric_daily_avg, weather[non_numeric_cols].drop_duplicates(), on='date')

In [8]:
daily_avg[daily_avg['site_id'] == 'Wolf']

,date,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed,site_id,season
14,2016-01-01,5.246861,1.927009,0.254484,0.351088,10.801125,1018.888301,172.924863,3.807399,Wolf,Winter
33,2016-01-02,5.993973,1.997893,0.892188,0.409453,11.105558,1014.347411,181.359441,4.202455,Wolf,Winter
52,2016-01-03,5.660314,1.946017,0.778475,0.552568,11.167389,1010.396019,208.978674,4.015919,Wolf,Winter
71,2016-01-04,5.048507,1.987616,-0.268905,0.479493,11.089874,1008.903334,211.377040,3.909701,Wolf,Winter
90,2016-01-05,4.745567,2.007311,0.321921,1.033857,11.723586,1012.747700,170.002007,3.528571,Wolf,Winter
...,...,...,...,...,...,...,...,...,...,...,...
6873,2016-12-27,7.401974,1.708130,2.873026,0.335702,11.234510,1023.828171,183.783788,2.760526,Wolf,Winter
6892,2016-12-28,5.772088,1.488857,0.987033,0.345231,10.911172,1024.541484,149.736150,2.201589,Wolf,Winter
6911,2016-12-29,5.522687,1.536773,0.978414,0.956951,11.374362,1020.217311,160.204079,2.843663,Wolf,Winter
6930,2016-12-30,3.787500,2.771180,-2.114693,0.374868,10.729428,1018.767864,230.151381,3.580044,Wolf,Winter
6949,2016-12-31,4.736242,2.361135,0.027069,0.538558,10.847077,1018.208828,185.261264,3.527740,Wolf,Winter

Checking to make sure we have the correct number of rows for each site id

In [16]:
# Combining with meter-meta-data
meter_meta = pd.read_csv("../data/cleaned/cleaned_meters_meta.csv", index_col=0)
# Only using 2016 data values for training data 
meter_meta = meter_meta[meter_meta['date'] < '2017-01-01']

In [17]:
#Convert 'date' columns to datetime
meter_meta['date'] = pd.to_datetime(meter_meta['date'])
daily_avg['date'] = pd.to_datetime(daily_avg['date'])

# Ensure 'site_id' columns are the same type
meter_meta['site_id'] = meter_meta['site_id'].astype(str)
daily_avg['site_id'] = daily_avg['site_id'].astype(str)

# Remove any potential leading/trailing spaces
meter_meta['site_id'] = meter_meta['site_id'].str.strip()
daily_avg['site_id'] = daily_avg['site_id'].str.strip()

# Perform the merge again
merged_df = pd.merge(meter_meta, daily_avg, on=['site_id', 'date'], how='left')

In [18]:
merged_df

,building_id,meter,date,meter_reading,site_id,building_id_kaggle,site_id_kaggle,sqm,sqft,timezone,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed,season
0,Bear_education_Alfredo,electricity,2016-01-01,2.9050,Bear,636.0,4.0,609.8,6564.0,US/Pacific,5.246861,1.927009,0.254484,0.351088,10.801125,1018.888301,172.924863,3.807399,Winter
1,Bear_education_Alfredo,electricity,2016-01-02,2.7700,Bear,636.0,4.0,609.8,6564.0,US/Pacific,5.993973,1.997893,0.892188,0.409453,11.105558,1014.347411,181.359441,4.202455,Winter
2,Bear_education_Alfredo,electricity,2016-01-03,2.6725,Bear,636.0,4.0,609.8,6564.0,US/Pacific,5.660314,1.946017,0.778475,0.552568,11.167389,1010.396019,208.978674,4.015919,Winter
3,Bear_education_Alfredo,electricity,2016-01-04,4.5650,Bear,636.0,4.0,609.8,6564.0,US/Pacific,5.048507,1.987616,-0.268905,0.479493,11.089874,1008.903334,211.377040,3.909701,Winter
4,Bear_education_Alfredo,electricity,2016-01-05,4.7825,Bear,636.0,4.0,609.8,6564.0,US/Pacific,4.745567,2.007311,0.321921,1.033857,11.723586,1012.747700,170.002007,3.528571,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447613,Wolf_education_Vivian,water,2016-12-27,2541.3347,Wolf,1049.0,12.0,8770.0,94399.0,Europe/Dublin,7.401974,1.708130,2.873026,0.335702,11.234510,1023.828171,183.783788,2.760526,Winter
447614,Wolf_education_Vivian,water,2016-12-28,400.2206,Wolf,1049.0,12.0,8770.0,94399.0,Europe/Dublin,5.772088,1.488857,0.987033,0.345231,10.911172,1024.541484,149.736150,2.201589,Winter
447615,Wolf_education_Vivian,water,2016-12-29,1874.3003,Wolf,1049.0,12.0,8770.0,94399.0,Europe/Dublin,5.522687,1.536773,0.978414,0.956951,11.374362,1020.217311,160.204079,2.843663,Winter
447616,Wolf_education_Vivian,water,2016-12-30,1550.6894,Wolf,1049.0,12.0,8770.0,94399.0,Europe/Dublin,3.787500,2.771180,-2.114693,0.374868,10.729428,1018.767864,230.151381,3.580044,Winter
447617,Wolf_education_Vivian,water,2016-12-31,334.1777,Wolf,1049.0,12.0,8770.0,94399.0,Europe/Dublin,4.736242,2.361135,0.027069,0.538558,10.847077,1018.208828,185.261264,3.527740,Winter

In [19]:
daily_avg[daily_avg['site_id'] == 'Wolf']

,date,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed,site_id,season
14,2016-01-01,5.246861,1.927009,0.254484,0.351088,10.801125,1018.888301,172.924863,3.807399,Wolf,Winter
33,2016-01-02,5.993973,1.997893,0.892188,0.409453,11.105558,1014.347411,181.359441,4.202455,Wolf,Winter
52,2016-01-03,5.660314,1.946017,0.778475,0.552568,11.167389,1010.396019,208.978674,4.015919,Wolf,Winter
71,2016-01-04,5.048507,1.987616,-0.268905,0.479493,11.089874,1008.903334,211.377040,3.909701,Wolf,Winter
90,2016-01-05,4.745567,2.007311,0.321921,1.033857,11.723586,1012.747700,170.002007,3.528571,Wolf,Winter
...,...,...,...,...,...,...,...,...,...,...,...
6873,2016-12-27,7.401974,1.708130,2.873026,0.335702,11.234510,1023.828171,183.783788,2.760526,Wolf,Winter
6892,2016-12-28,5.772088,1.488857,0.987033,0.345231,10.911172,1024.541484,149.736150,2.201589,Wolf,Winter
6911,2016-12-29,5.522687,1.536773,0.978414,0.956951,11.374362,1020.217311,160.204079,2.843663,Wolf,Winter
6930,2016-12-30,3.787500,2.771180,-2.114693,0.374868,10.729428,1018.767864,230.151381,3.580044,Wolf,Winter
6949,2016-12-31,4.736242,2.361135,0.027069,0.538558,10.847077,1018.208828,185.261264,3.527740,Wolf,Winter